art==6.1 ; python_version >= "3.11" and python_version < "3.12"
asttokens==2.4.1 ; python_version >= "3.11" and python_version < "3.12"
beartype==0.16.4 ; python_version >= "3.11" and python_version < "3.12"
click==8.1.7 ; python_version >= "3.11" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "3.12" and (sys_platform == "win32" or platform_system == "Windows")
decorator==5.1.1 ; python_version >= "3.11" and python_version < "3.12"
einops==0.7.0 ; python_version >= "3.11" and python_version < "3.12"
executing==2.0.1 ; python_version >= "3.11" and python_version < "3.12"
eztils==0.4.82 ; python_version >= "3.11" and python_version < "3.12"
ipdb==0.13.13 ; python_version >= "3.11" and python_version < "3.12"
ipython==8.20.0 ; python_version >= "3.11" and python_version < "3.12"
jedi==0.19.1 ; python_version >= "3.11" and python_version < "3.12"
loguru==0.7.2 ; python_version >= "3.11" and python_version < "3.12"
markdown-it-py==3.0.0 ; python_version >= "3.11" and python_version < "3.12"
matplotlib-inline==0.1.6 ; python_version >= "3.11" and python_version < "3.12"
mdurl==0.1.2 ; python_version >= "3.11" and python_version < "3.12"
numpy==1.26.3 ; python_version >= "3.11" and python_version < "3.12"
pandas==2.0.3 ; python_version >= "3.11" and python_version < "3.12"
parso==0.8.3 ; python_version >= "3.11" and python_version < "3.12"
pexpect==4.9.0 ; python_version >= "3.11" and python_version < "3.12" and sys_platform != "win32"
prompt-toolkit==3.0.43 ; python_version >= "3.11" and python_version < "3.12"
ptyprocess==0.7.0 ; python_version >= "3.11" and python_version < "3.12" and sys_platform != "win32"
pure-eval==0.2.2 ; python_version >= "3.11" and python_version < "3.12"
pygments==2.17.2 ; python_version >= "3.11" and python_version < "3.12"
python-dateutil==2.8.2 ; python_version >= "3.11" and python_version < "3.12"
python-dotenv==1.0.0 ; python_version >= "3.11" and python_version < "3.12"
pytz==2023.3.post1 ; python_version >= "3.11" and python_version < "3.12"
rich==13.7.0 ; python_version >= "3.11" and python_version < "3.12"
six==1.16.0 ; python_version >= "3.11" and python_version < "3.12"
stack-data==0.6.3 ; python_version >= "3.11" and python_version < "3.12"
tqdm==4.66.1 ; python_version >= "3.11" and python_version < "3.12"
traitlets==5.14.1 ; python_version >= "3.11" and python_version < "3.12"
typer-config==1.4.0 ; python_version >= "3.11" and python_version < "3.12"
typer==0.9.0 ; python_version >= "3.11" and python_version < "3.12"
typing-extensions==4.9.0 ; python_version >= "3.11" and python_version < "3.12"
tzdata==2023.4 ; python_version >= "3.11" and python_version < "3.12"
varname==0.12.2 ; python_version >= "3.11" and python_version < "3.12"
wcwidth==0.2.13 ; python_version >= "3.11" and python_version < "3.12"
win32-setctime==1.1.0 ; python_version >= "3.11" and python_version < "3.12" and sys_platform == "win32"
